# Assignment 1:
### - The automated_stat_analyzer Function
- Scenario: A retail company needs a utility to quickly summarize sales data. Students must create a function that identifies the 
"Central Tendency" and "Dispersion" of any numerical column.
- ### Requirements:

* Accept a Pandas DataFrame and a column name.

* Calculate the Mean, Median, and Standard Deviation .

* Identify if the data is "Skewed" by comparing the Mean and Median.


* Bonus: If the column is categorical, return the Mode instead.

### Your Data

In [7]:
import pandas as pd
import numpy as np

# Create a synthetic Company Sales Dataset
data = {
    'Transaction_ID': range(1, 11),
    'Product_Category': ['Electronics', 'Home', 'Electronics', 'Sports', 'Home', 
                         'Electronics', 'Home', 'Sports', 'Electronics', 'Electronics'],
    'Sales_Amount': [150, 200, 155, 300, 210, 180, 205, 1000, 190, 160], # 1000 is an Outlier
    'Customer_Age': [25, 34, np.nan, 45, 23, 31, 29, np.nan, 38, 40],    # Contains Nulls (NaN)
    'Rating': [5, 4, 3, 5, 2, 4, 5, 2, 4, 3]
}

df_test = pd.DataFrame(data)

# Save to CSV for students to practice loading files [cite: 74]
df_test.to_csv('./company_sales_test.csv', index=False)
print("Test dataset created successfully!")

Test dataset created successfully!

In [8]:
df_test.head()

   Transaction_ID Product_Category  Sales_Amount  Customer_Age  Rating
0               1      Electronics           150          25.0       5
1               2             Home           200          34.0       4
2               3      Electronics           155           NaN       3
3               4           Sports           300          45.0       5
4               5             Home           210          23.0       2

In [9]:
import pandas as pd

import pandas as pd

import pandas as pd

def automated_stat_analyzer(df, column_name):
    column = df[column_name]
    
    # التحقق من نوع البيانات (رقمي أو نصي)
    if column.dtype in ['int64', 'float64', 'int32', 'float32']:
        return {
            "Mean": column.mean(),
            "Median": column.median(),
            "Standard Deviation": column.std()
        }
    else:
        return {
            "Mode": column.mode()[0] if not column.mode().empty else None
        }
data = {'Sales_Amount': [100, 200, 200, 300, 400]}
df = pd.DataFrame(data)
print(automated_stat_analyzer(df, 'Sales_Amount'))


"""
    Company Task: Provide a summary report of a specific data variable.
    
    Instructions:
    1. Check if the column is numerical or categorical.
    2. For numerical: Calculate Mean, Median, and Standard Deviation.
    3. For categorical: Calculate the Mode.
    4. Return a dictionary with these statistical measures.
    """
    
    # TODO: Implement using df[column_name].mean(), .median(), .std(), or .mode()  you can used Sales_Amount for your test case

{'Mean': np.float64(240.0), 'Median': np.float64(200.0), 'Standard Deviation': np.float64(114.0175425099138)}

'\n    Company Task: Provide a summary report of a specific data variable.\n\n    Instructions:\n    1. Check if the column is numerical or categorical.\n    2. For numerical: Calculate Mean, Median, and Standard Deviation.\n    3. For categorical: Calculate the Mode.\n    4. Return a dictionary with these statistical measures.\n    '

## Assignment 2: 
  ### The null_handling_strategy Function

#### Scenario: Incoming user data often has missing values.Students must implement a flexible strategy to handle these "Null Values" to prepare data for Machine Learning.
### Requirements:

* Check for null values in the DataFrame.

* Apply a strategy based on parameters: "drop_rows", "fill_mean", or "fill_median" .

* Ensure the function only fills numerical columns when using mean or median.

In [10]:
def null_handling_strategy(df, strategy="fill_mean"):
    df_cleaned = df.copy()
    
    if strategy == "drop_rows":
        df_cleaned = df_cleaned.dropna()
        
    elif strategy in ["fill_mean", "fill_median"]:
        numeric_cols = df_cleaned.select_dtypes(include=['number']).columns
        for col in numeric_cols:
            if strategy == "fill_mean":
                value = df_cleaned[col].mean()
            else:
                value = df_cleaned[col].median()
            df_cleaned[col] = df_cleaned[col].fillna(value)
            
    return df_cleaned
data = {
    'Customer_Age': [25, 30, None, 40, 30],
    'Sales': [100, None, 200, 150, 100]
}
df_test = pd.DataFrame(data)

print(null_handling_strategy(df_test, strategy="fill_mean"))
"""
    Company Task: Clean a dataset by resolving missing (NaN) values.
    """
    # TODO: Implement using .isnull(), .dropna(), or .fillna() you can used Customer_Age for your test case

   Customer_Age  Sales
0         25.00  100.0
1         30.00  137.5
2         31.25  200.0
3         40.00  150.0
4         30.00  100.0

'\n    Company Task: Clean a dataset by resolving missing (NaN) values.\n    '